/*±³¾°*/
.sina-comment-form .hd .tip,.sina-comment-share-sina,.sina-comment-share-qq,.sina-comment-form .ft .trigger,.sina-comment-form .ft .trigger-active,.sina-comment-list .item .reply:hover,.sina-comment-list .title .reflash,.sina-comment-list .list .btns a,.sina-comment-tip .succ i,.sina-comment-tip .error i,.sina-comment-layer .a-l-close,.sina-comment-form .ft .user .ico,.sina-comment-vote-tip,.sina-comment-chkbox i,.sina-comment-form .bd .arrow,.sina-comment-list-layer .close,.sina-comment-list .list .dialog-list-ft .fold em{background:url(http://i1.sinaimg.cn/dy/deco/2014/0926/bg.png) no-repeat 0 0;}