/*button*/
.btn
	display: inline-block;*display: inline; zoom: 1;  vertical-align: baseline; margin: 0 2px;  cursor: pointer; text-align: center; text-decoration: none; font: 16px/100% "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","SimSun","\5B8B\4F53","Arial Narrow"; padding: .5em 1.5em .55em; -webkit-border-radius: .2em; -moz-border-radius: .2em; border-radius: .2em; word-wrap:break-word;word-break:break-all;
	:hover
		text-decoration: none;
	:active
		position: relative; top: 1px;
.btn-red
	color: #faddde;background: #FF8500;
	:hover
		background: #FF8500;
	:active
		color: #de898c;
	:link,:visited
		color:#fff !important;
	:hover,:active
		color:#fff !important;
.btn-disabled
	color: #696969;background: #E1E1E1; cursor: default;
	:hover,:active
		color: #696969;background: #E1E1E1; cursor: default;
	:link,:visited
		color:#696969 !important;
	:hover,:active
		color:#696969 !important;