/*faces*/
.sina-comment-layer
	border-spacing: 0;border-collapse:collapse;
	tr,td
		padding: 0;
	.a-l-top-c,.a-l-btm-c,.a-l-m-l,.a-l-m-r,.a-l-top-r,.a-l-top-l,.a-l-btm-l,.a-l-btm-r
		height:4px; background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer_09.png)
	.a-l-top-r,.a-l-top-l,.a-l-btm-l,.a-l-btm-r
		width:4px;
	.a-l-m-c
		background:#fff;
	.a-l-top-l
		-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px;border-top-left-radius:4px;
	.a-l-top-r
		-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px;border-top-right-radius:4px;
	.a-l-btm-l
		-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;
	.a-l-btm-r
		-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;
	.a-l-box
		border:1px solid #C6C6C6;
	.a-l-close-wrap
		float: right;display: inline;width: 16px;height: 16px;margin:-17px -17px 0 0;
	.a-l-close
		display: block; background-position:  0 -580px; cursor:pointer; height:16px; width:16px;
	.a-l-close:hover
		background-position: -30px -580px;
	.a-l-btn a
		margin:0 5px;
	.a-l-arrow
		width:16px; height:8px; overflow:hidden; position:absolute; left:134px; top:-8px; background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/new_index_bg.png?id=1317114904156) no-repeat -142px -71px; _background:url(http://timg.sjs.sinajs.cn/t36/style/images/common/layer/wraplayer.gif?id=1317114904156) no-repeat 0 -12px;

.sina-comment-face-list
	padding:20px 20px 10px; position:relative
	.a-l-arrow
		left:18px
	.face-list-items
		width:330px
	.face-list-items ul
		padding: 0;margin: 0
	.face-list-items li
		float:left; height:28px; width:28px; padding:0 5px 5px 0; overflow: hidden
	.face-list-items li a:link,	.face-list-items li a:visited
		width:26px; height:26px; text-align:center; display:block; border:1px solid #E8E8E8
	.face-list-items li a:hover
		border:1px solid #0095cd;background: #fff9ec
	.face-list-items li img
		border:0;border:none
