/*comment-list*/
.sina-comment-list
	border:1px solid #ccc;*zoom:1;border-top: 0;padding-top: 1px
	.latest-tip
		height:33px;line-height: 33px;background: #FFF7DC;border:1px solid #FFCD8C;border-width: 1px 0;margin-top: -2px;position: relative;text-align: center;
	.latest-tip a:link,	.latest-tip a:visited
		color:#ff8500;
	.latest-tip a:hover,	.latest-tip a:active
		color:#c00;
	.title
		height:47px;border-top:1px solid #fff;background: #F4F3F1;overflow: hidden;
	.title .name
		width:100px; line-height:45px;float:left;font-size:16px;font-family:"Microsoft Yahei","\5FAE\8F6F\96C5\9ED1"; font-weight:bold; text-align:center;
	.title .reflash
		float:left;width: 65px;height: 26px;overflow: hidden;line-height: 90px;background-position:  0 -120px;margin-top:9px;
	.title .reflash:hover,	.title .reflash:active
		background-position: 0 -150px;
	.title .reflash:active
		position: relative;top:-1px;
	.list .item
		position: relative;border-bottom:1px solid #DCDCDC;background-color: #fff;list-style: none;
	.list .item:hover
		background: #FBFAF8;
	.list .item .head
		width:50px;height:50px;padding:20px 0 0 20px;
	.list .item .head img
		border-radius: 25px;
	.list .name a:link,	.list .name a:visited
		color:#ff8500;
	.list .name a:hover,	.list .name a:active
		color:#c00;
	.list .item .cont
		margin:-60px 20px 0 85px;
	.list .item .num
		position: absolute;left:-96px;top:16px;display: block;width:32px;height:32px;border:4px solid #F7FAFC; line-height: 32px;overflow: hidden;padding-right: 10px;background: #E6ECF3; border-radius: 20px 0 0 20px; font-family: Arial,Georgia;font-size: 14px;color:#98a8b7;text-align: center;
	.list .item .num-new
		background: #FF8500;color:#fff;
	.list .cont .txt
		padding:0 0 5px;line-height:24px; font-size:14px;word-wrap:break-word;word-break:break-all;
	.list .cont .txt a:link,	.list .cont .txt a:visited
		color:#ff8500;
	.list .cont .txt a:hover,	.list .cont .txt a:active
		color:#c00;
	.list .cont .info
		margin-bottom: 5px;
	.list .cont .area
		color:#999; padding-left:15px;
	.list .cont .lnk
		float: right;*margin-top: -20px;
	.list .cont .lnk a:link,	.list .cont .lnk a:visited
		color:#f67400;
	.list .cont .lnk a:hover,	.list .cont .lnk a:active
		color:#c00;
	.list .cont .action
		height: 26px;margin:15px 0 5px 0;font-size: 14px;text-align: left;
	.list .item .report
		display: inline-block; line-height: 14px; border-left:1px solid #E7E7E7;padding-left: 15px;margin-left: 15px;
	.list .item .control
		font-size: 12px;
	.sina-comment-txt-face
		vertical-align: middle;padding:0 3px;
	.list .btns a
		display: inline-block;padding: 0 20px 0 43px;border-right:1px solid #E7E7E7;font-size: 14px;line-height: 14px;
	.item .btns .show
		background: none;
	.item .btns .show:link,	.item .btns .show:visited
		color:#ff8500;
	.item .btns .show:hover,	.item .btns .show:active
		color:#c00;
	.item .vote em
		font-style: normal;font-family: arial;padding-left: 3px;
	.item .btns .vote
		border-left: 0;
	.item .vote:link,	.item .vote:visited
		background-position:  20px -330px;
	.item .vote:hover,	.item .vote:active
		background-position:  20px -360px;cursor: pointer;
	.item .vote:hover span,	.item .vote:active span
		color:#c00;
	.item .vote-active:link,	.item .vote-active:visited
		background-position:  20px -360px;color:#c00; cursor: text;
	.item .vote-active:hover,	.item .vote-active:active
		background-position:  20px -360px; cursor: text;
	.item .btns .reply
		padding-right: 0;border-right: 0;
	.item .reply:link,	.item .reply:visited
		background-position:  20px -390px;
	.item .reply:hover
		 background-position:  20px -420px;
	.item .btns .share
		position: relative;z-index: 10;padding-right: 0;
	.item .share:link,	.item .share:visited
		background-position:  20px 0;
	.item .share-active:link,	.item .share:hover
		color:#c00;background-position:  20px -30px;
	.item .share em
		font-style: normal;

	/*¸ÇÂ¥*/
	.list .floor-wrap
		margin-top:12px;
	.list .flat-floor-wrap
		display: inline;
	.list .floor
		position: relative;border:solid 1px #F3DDB3; background:#FFFEF4;color:#666;margin: 0 0 12px;*zoom:1;padding: 2px;
	.list .floor-out
		margin-top: -13px;
	.list .floor .head
		padding: 16px 0 0 16px;
	.list .floor .cont .action
		margin-top: 5px;
	.list .reply-form-wrap
		position: relative;clear: both;*zoom:1;
	.list .reply-form-top
		width:18px;height:10px; position:absolute; top:-9px; right:85px;color:#efefef;*zoom:1;overflow: hidden;z-index: 1;
	.list .reply-form-top em,	.list .reply-form-top span
		 display:block; font-size:17px; font-style:normal; font-family:"SimSun"; height:11px; overflow:hidden;
	.list .reply-form-top em
		 color:#D2CEC9
	.list .reply-form-top span
		 color:#FCFCFB; margin-top:-10px;
	.list .reply-form
		clear:both;border-width: 1px 0 0 0; padding:0 20px 0 0;margin-top: 10px;*zoom:1;
	.list .reply-form-tip
		padding-left: 92px;
	.list .reply-form-tip em
		color:#ff8500;font-style: normal;
	.list .reply-form .form-head img
		border-radius: 25px;width:50px;height:50px;
	.list .reply-form .hd
		padding: 8px 0;height:0;overflow: hidden;
	.list .reply-form .bd .user
		width:90px;height:100px;
	.list .reply-form .bd .editor
		padding-left: 90px;
	.list .reply-form .bd .box
		height:40px;
	.list .reply-form .bd .arrow
		left:81px;top:20px;
	.list .reply-form .ft
		padding: 15px 0 10px 90px;
	.list .reply-form .ft .action
		margin:0;
	.list .action .btns
		float: right;*margin-top: -20px;
	.loading
		display: none;border-radius: 5px; margin:5px;background:url(http://i3.sinaimg.cn/ent/deco/2012/0912/images/indicator_24.gif) center center no-repeat #F1F1F1;
	.more
		border-top:#d0d0d0 1px solid;margin-top:-1px;font-size:15px;height:40px;color:#666; line-height:40px; text-align:center;font-family:"Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1";
	.more em
		font-style: normal;
	.loading a,.loading a:visited,	.more a,.more a:visited
		 font-size:15px;display:block;height:40px;color:#666; line-height:40px; margin:0 auto; text-align:center;font-family:"Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1"
	.more a:hover,.more a:active
		color:#666; text-decoration:none;background:url(http://i3.sinaimg.cn/ent/deco/2012/0907/content/ent_zxh_0816_btn_bgv3.png) repeat-x;background-position:0 -50px
	.loading a:hover,	.loading a:active
		color: #666;text-decoration: none;
	/*dialog*/
	.list .dialog-list-wrap
		border-bottom:1px solid #DCDCDC;background: #F7FAFC;
	.list .dialog-list-wrap .reply-form
		margin:0 10px 10px 10px;border-width: 1px;
	.list .dialog-list-wrap .item,	.list .dialog-list-wrap .item:hover
		background: #F7FAFC;
	.list .dialog-list-hd,	.list .dialog-list-ft
		line-height: 22px;padding:13px 20px;background: #EEF3F6;
	.list .dialog-list-hd
		border-bottom: 1px dotted #DCDCDC;text-align: center;
	.list .dialog-list-hd .more
		border-top: 0;margin-top: 0;height:22px;line-height: 22px;
	.list .dialog-list-hd .more:link,	.list .dialog-list-hd .more:visited
		color:#ff8500;
	.list .dialog-list-hd .more:hover,	.list .dialog-list-hd .more:active
		color:#c00;
	.list .dialog-list-ft
		border-top: 1px dotted #DCDCDC;text-align: center;margin-top: -1px;
	.list .dialog-list-ft .fold:link,	.list .dialog-list-ft .fold:visited
		color:#6c7275;
	.list .dialog-list-ft .fold:hover,	.list .dialog-list-ft .fold:active
		color:#6c7275;all-opacity(0.8);
	.list .dialog-list-ft .fold em
		display: inline-block;width: 10px;height:9px;margin-left:5px;background-position: 0 -890px;*vertical-align: middle;_vertical-align:-6px;
	.list .dialog-list
		border-left: 4px solid #DBDBDB; margin-left:55px;position:relative;zoom:1;
	.list .dialog-list .item
		margin-left: 50px;padding-top: 20px;border-bottom-style: dotted;position:relative;zoom:1;
	.list .dialog-list .item-hide
		display: none;
	.list  .dialog-list-show .item-hide
		display: block;
	.list  .dialog-list-show .dialog-list-hd
		display: none;
	.list .dialog-list .item .head
		padding-left: 0;padding:3px;margin-top:20px;position: absolute;left:-63px;top:0;width:26px;height:26px;z-index: 10;background: #F7FAFC;border-radius: 16px;
	.list .dialog-list .item .head img
		width:25px;height:25px;border-radius: 12.5px;
	.list .dialog-list .item .cont
		margin:0 20px 0 0;