/*reset*/
.sina-comment-wrap
	color:#333;background:#fff;font:14px/20px "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","SimSun","\5B8B\4F53","Arial Narrow",serif; margin: 0 auto;padding-bottom:5px;background: url(http://i3.sinaimg.cn/dy/deco/2013/0104/commnet_list_btm.png) left bottom repeat-x #fff;border-top:2px solid #000;position: relative;zoom:1;
	a:link, a:visited
		color:#333;text-decoration: none;
	a:hover, a:active
		color:#c00;text-decoration: none;
	ul, ol, li, p, form, fieldset, table, td, th, img
		margin:0;padding:0;border:0;font-weight: normal;
	img
		border:0;
	select,input
		vertical-align:middle;font-size:12px;
	textarea
		resize:vertical;font-size: 12px;
	ul
		list-style:none;
	.gray
		color:#888

.sina-comment-layer .clearfix:after,.sina-comment-wrap .clearfix:after{content:'.';display:block;height:0;clear:both;visibility: hidden;}
.sina-comment-layer .clearfix,.sina-comment-wrap .clearfix{*zoom:1;}
.sina-comment-wrap .clearit{clear:both;font-size:0;line-height:0;height:0;}
