/*评论提示*/
.sina-comment-tip
	position: absolute;left:50%;background: #fff;z-index: 1000;
	.inner
		overflow:hidden;line-height: 30px;font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";font-size: 16px;color: #888;
	i
		width: 40px;height: 32px;overflow: hidden;position: absolute;left:0;top:0;
	.txt
		margin-left: 40px;font-size: 16px;
	.succ i
		background-position:  0 -240px;
	.error i
		background-position:  0 -280px;

/*顶提示*/
.sina-comment-vote-tip{display: none;width: 48px;height: 28px;direction: ltr; text-indent: -9999em;text-align:left;background-position:  0 -820px;position: absolute;top:0;z-index: 1000;}

/*分享提示*/
.sina-comment-share{display: none;width:58px;height:24px;overflow:hidden;margin-left: 11px; position: absolute;top:0;z-index:999;}
.sina-comment-share-sina,.sina-comment-share-qq{width:24px;height:24px;margin-left:3px;direction: ltr; text-indent: -9999em;text-align:left;float:left;}
.sina-comment-share-sina{background-position:  0 -510px;left:50px;}
.sina-comment-share-qq{background-position:  0 -540px;left:80px;}
.sina-comment-share-sina:hover{background-position: -30px -510px;}
.sina-comment-share-qq:hover{background-position: -30px -540px;}